[submodule "repos/apache-mynewt-core"]
	path = repos/apache-mynewt-core
	url = https://github.com/apache/mynewt-core
[submodule "repos/apache-mynewt-nimble"]
	path = repos/apache-mynewt-nimble
	url = https://github.com/apache/mynewt-nimble
[submodule "repos/mcuboot"]
	path = repos/mcuboot
	url = https://github.com/mcu-tools/mcuboot
[submodule "repos/apache-mynewt-mcumgr"]
	path = repos/apache-mynewt-mcumgr
	url = https://github.com/apache/mynewt-mcumgr
